.guest-layout{

    .horizontal-scroll-wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            //display: none;
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 1);
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(50,50,50);
        }


        > div {
            flex: 0 0 auto;
            width: 600px;
            min-height: 300px;
        }
    }

    .more-information-btn {
        margin-top: 4px;
        cursor: pointer;
    }
}
